/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
/*---------------------------------------/*
 # TOOLS
/*---------------------------------------*/
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body {
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-palette {
  display: flex;
}
.c-palette__swatch {
  flex: 1 1 auto;
  display: block;
  aspect-ratio: 6/5;
}

.c-palette + .c-palette {
  margin-top: 2rem;
}

h1 {
  background-color: hsl(198.0786026201, 10%, 95%);
  color: hsl(198.0786026201, 10%, 20%);
  padding: 1rem;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
.u-background-color-gray-100 {
  background-color: hsl(198.0786026201, 10%, 95%);
}

.u-background-color-gray-200 {
  background-color: hsl(198.0786026201, 10%, 90%);
}

.u-background-color-gray-300 {
  background-color: hsl(198.0786026201, 10%, 80%);
}

.u-background-color-gray-400 {
  background-color: hsl(198.0786026201, 10%, 70%);
}

.u-background-color-gray-500 {
  background-color: hsl(198.0786026201, 10%, 50%);
}

.u-background-color-gray-600 {
  background-color: hsl(198.0786026201, 10%, 40%);
}

.u-background-color-gray-700 {
  background-color: hsl(198.0786026201, 10%, 30%);
}

.u-background-color-gray-800 {
  background-color: hsl(198.0786026201, 10%, 20%);
}

.u-background-color-gray-900 {
  background-color: hsl(198.0786026201, 10%, 10%);
}

.u-background-color-blue-100 {
  background-color: hsl(198.0786026201, 80%, 95%);
}

.u-background-color-blue-200 {
  background-color: hsl(198.0786026201, 80%, 90%);
}

.u-background-color-blue-300 {
  background-color: hsl(198.0786026201, 85%, 80%);
}

.u-background-color-blue-400 {
  background-color: hsl(198.0786026201, 85%, 65%);
}

.u-background-color-blue-500 {
  background-color: hsl(198.0786026201, 90%, 50%);
}

.u-background-color-blue-600 {
  background-color: hsl(198.0786026201, 95%, 45%);
}

.u-background-color-blue-700 {
  background-color: hsl(198.0786026201, 95%, 35%);
}

.u-background-color-blue-800 {
  background-color: hsl(198.0786026201, 100%, 25%);
}

.u-background-color-blue-900 {
  background-color: hsl(198.0786026201, 100%, 15%);
}

.u-background-color-teal-100 {
  background-color: hsl(161.9213973799, 80%, 95%);
}

.u-background-color-teal-200 {
  background-color: hsl(161.9213973799, 80%, 90%);
}

.u-background-color-teal-300 {
  background-color: hsl(161.9213973799, 85%, 80%);
}

.u-background-color-teal-400 {
  background-color: hsl(161.9213973799, 85%, 70%);
}

.u-background-color-teal-500 {
  background-color: hsl(161.9213973799, 90%, 50%);
}

.u-background-color-teal-600 {
  background-color: hsl(161.9213973799, 95%, 45%);
}

.u-background-color-teal-700 {
  background-color: hsl(161.9213973799, 95%, 35%);
}

.u-background-color-teal-800 {
  background-color: hsl(161.9213973799, 100%, 25%);
}

.u-background-color-teal-900 {
  background-color: hsl(161.9213973799, 100%, 15%);
}/*# sourceMappingURL=style.css.map */